In [1]:
import os 
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [1]:
import pandas
df1 = pandas.read_csv("supermarkets.csv")
print(df1)

   ID          Address           City             State Country         Name  \
0   1     3666 21st St  San Francisco          CA 94114     USA      Madeira
1   2   735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
2   3      332 Hill St  San Francisco  California 94114     USA  Super River
3   4     3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
4   5  1056 Sanchez St  San Francisco        California     USA      Sanchez
5   6  551 Alvarado St  San Francisco          CA 94114     USA   Richvalley

   Employees
0          8
1         15
2         25
3         10
4         12
5         20

In [4]:
import pandas
df2 = pandas.read_json("supermarkets.json")
print(df2)

   ID          Address           City             State Country         Name  \
0   1     3666 21st St  San Francisco          CA 94114     USA      Madeira
1   2   735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
2   3      332 Hill St  San Francisco  California 94114     USA  Super River
3   4     3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
4   5  1056 Sanchez St  San Francisco        California     USA      Sanchez
5   6  551 Alvarado St  San Francisco          CA 94114     USA   Richvalley

   Employees
0          8
1         15
2         25
3         10
4         12
5         20

In [8]:
import pandas
df = pandas.read_excel("supermarkets.xlsx", sheet_name = 0)
print(df)

   ID          Address           City             State Country  \
0   1     3666 21st St  San Francisco          CA 94114     USA
1   2   735 Dolores St  San Francisco          CA 94119     USA
2   3      332 Hill St  San Francisco  California 94114     USA
3   4     3995 23rd St  San Francisco          CA 94114     USA
4   5  1056 Sanchez St  San Francisco        California     USA
5   6  551 Alvarado St  San Francisco          CA 94114     USA

  Supermarket Name  Number of Employees
0          Madeira                    8
1      Bready Shop                   15
2      Super River                   25
3       Ben's Shop                   10
4          Sanchez                   12
5       Richvalley                   20

In [17]:
import pandas
df = pandas.read_excel("supermarkets.xlsx", sheet_name = 1)
print(df)

Empty DataFrame
Columns: []
Index: []

In [1]:
import pandas
df4=pandas.read_csv("supermarkets-commas.txt")
print(df4)

   ID          Address           City             State Country         Name  \
0   1     3666 21st St  San Francisco          CA 94114     USA      Madeira
1   2   735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
2   3      332 Hill St  San Francisco  California 94114     USA  Super River
3   4     3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
4   5  1056 Sanchez St  San Francisco        California     USA      Sanchez
5   6  551 Alvarado St  San Francisco          CA 94114     USA   Richvalley

   Employees
0          8
1         15
2         25
3         10
4         12
5         20

In [5]:
import pandas
df2 = pandas.read_json("supermarkets.json")
print(df2)

df3 = df2.set_index("ID")
print(df3)

   ID          Address           City             State Country         Name  \
0   1     3666 21st St  San Francisco          CA 94114     USA      Madeira
1   2   735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
2   3      332 Hill St  San Francisco  California 94114     USA  Super River
3   4     3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
4   5  1056 Sanchez St  San Francisco        California     USA      Sanchez
5   6  551 Alvarado St  San Francisco          CA 94114     USA   Richvalley

   Employees
0          8
1         15
2         25
3         10
4         12
5         20
            Address           City             State Country         Name  \
ID
1      3666 21st St  San Francisco          CA 94114     USA      Madeira
2    735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
3       332 Hill St  San Francisco  California 94114     USA  Super River
4      3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
5   1056 Sanchez St  San Francisco        California     USA      Sanchez
6   551 Alvarado St  San Francisco          CA 94114     USA   Richvalley

    Employees
ID
1           8
2          15
3          25
4          10
5          12
6          20

In [20]:
import pandas
df1 = pandas.read_csv("supermarkets.csv")
df1.iloc[1:4, 1:4]

          Address           City             State
1  735 Dolores St  San Francisco          CA 94119
2     332 Hill St  San Francisco  California 94114
3    3995 23rd St  San Francisco          CA 94114